<!DOCTYPE html>
<!-- Jerid Fenderson was here! -->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div id="container">

	<!-- The header is for the company's/product's/client's name and logo -->
	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club logo"></a>
	</header>

	<!-- The nav area is for adding links to other pages within the website -->
	<nav>
		<ul>	
			<li><a href="indexfit.html">Home</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="classes.html">Classes</a></li>
			<li><a href="nutrition.html">Nutrition</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
	</nav>

	<!-- The main area is self explanatory, some people use <div> over main, as it's more universally accepted. People need to update their browsers. -->
	<main></main>

	<!-- The footer area is also pretty self explanatory. It displays information at the bottom of the webpage -->
	<footer>
		<div id="copyright">
			<p>&copy; Copyright 2019. All Rights Reserved. <br>
			<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a></p>
		</div>

		<div id="social">
			<p>Connect with us:</p>
			<p><a href="https://www.facebook.com/fwdfitclub"><img src="images/fblogo.png" alt="Facebook logo"></a>
			<a href="http://twitter.com/fwdfitclub"><img src="images/twitterlogo.png" alt="Twitter logo"></a></p>
		</div>
	</footer>

	</div>

</body>
</html>